// This file contains parameters that you should use if you have aligned to
// hg38/GRCh38 rather than hg19/GRCh37. You can either use these to edit
// nextflow.config, or do -c hg38.config as part of your nextflow command.

params{
    // Ensembl reference
    fasta_ensembl = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    gff_ensembl = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Annotation/Genes.gff3"

    // Gnotation file for slivar
    slivar_zip = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Annotation/Slivar/gnomad.hg38.v2.zip"
    slivar_selfchain = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Annotation/Slivar/selfchain-LCR.hg38.bed"

    // Build version for AnnoVar.  This is also used by other processes.
    annovar_buildver = "hg38"

    // SnpEff
    snpEff_dir = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Annotation/SnpEff/"

    // FASTA that was used for alignment and genotype calling. Can have different chromosome name formats but must have same coordinates.
    fasta_bams = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    // BWA index to go with this FASTA
    bwa_index = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh38/Sequence/BWAIndex"

    // Haploid regions for DeepVariant
    par_bed = "./GRCh38_PAR.bed"
}
