includeConfig "./conf/sasquatch.config"

// parameters
params {
    // VCF to start with
    vcf = null
    chromnames = null // Format for chromosome names input. g1k = 1000 Genomes. Alternatives are ensembl and ucsc. Use ucsc if chromosome names start with 'chr'
    sort = null // Whether to sort the VCF before processing.

    // Pedigree file
    ped = null
    trios_present = null // Set to false if pedigree contains no trios (duos only).

    // Sample metadata for UMAP plots
    metadata_tab = null
    metadata_columns = null
    // Turn UMAP on or off
    run_popstruct = false

    // Incidental findings
    do_incidental = null
    incidental_samples = null

    // Should annotated VCF be exported before filtering?
    export_prefilt = false

    // BAMs and variant calling
    sample_bams = null
    deepvar_model = null// Should be WGS or WES.
    cohort_name = null
    make_examples_nshards = null // 4 for tiny example dataset, 32 or more for full genome.
    test_bams = false // change to false to run the entire genome.  True runs a tiny example piece.
    // fasta_bams should be the reference genome that was used for alignment of the BAMs. Check BAM header if unsure.
    fasta_bams = null
    // BWA index to go with this FASTA
    bwa_index = null
    // Haploid regions for DeepVariant
    par_bed = null
    // Whether to use DeepVariant_unfiltered (false) or DeepVariantWES or DeepVariantWGS (true)
    glnexus_filter = null

    // output
    outdir = "results"

    // Ensembl reference 
    fasta_ensembl = null
    gff_ensembl = null

    // Directory for cached snpEff database
    snpEff_dir = null

    // Gnotation and selfchain files for slivar
    slivar_zip = null
    slivar_selfchain = null

    // AnnoVar database files
    annovar_db = null
    annovar_buildver = null

    // MVP pathogenicity prediction score table
    mvp_tab = null

    // Slivar filtering parameters
    maf_recessive = null
    maf_dominant = null
    maf_denovo = null
    comphet_nhomalt = null
    check_gq = null
    slivar_fn_loose = './assets/slivar-functions-loose.js'

    // Pathogenicity filtering parameters
    mvp_thresh = null
    cadd_thresh = null
    dann_thresh = null
    gerp_thresh = null

    // UMAP parameters
    umap_seed = null
    umap_min_call_rate = null
    umap_n_exons = null
    umap_n_pcs = null

    // File used if UCSC chromosome names need to be changed to Ensembl
    chrom_convert = null

    // gnomAD VCF
    // Not used in the main repo, but can be used with BCFTOOLS_ANNOTATE_INFO to add allele frequencies.
    gnomad_vcf = '/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/gnomAD/gnomad.genomes.r2.1.1.sites.vcf.bgz'

    // Params for preprocessvcf which may be deprecated
    fasta38ucsc = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
    fasta19ucsc = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
    do_liftover = true // Set to true if VCF is hg19, and false if it is hg38.
    picard_max_records_in_ram = 500000 // lower if liftover is running out of memory
    picard_memory_gb = 15 // memory available for liftover, in Gb
}

profiles {
    test{
        includeConfig 'conf/test.config'
    }
}

process {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,250] ? 'retry' : 'terminate' }
    cache = 'lenient'
    maxRetries = 0
    // Set default memory (to prevent using whole node) and then override for specific modules.
    withName:'SNPEFF'{
        cpus = 1
        memory = 7500.MB
    }
    withName:'MVP_ANNO'{
        cpus = 1
        memory = 45.GB
    }
    withName:'SPLIT' {
        cpus = 2
        memory = 4.GB
    }
    withName:'SNPSIFT_ANNOTATE'{
        cpus = 1
        memory = 7500.MB
    }
    withName:'FILTER_PATHOGENIC'{
        cpus = 1
        memory = 15.GB
    }
    withLabel:'make_examples' {
        cpus = params.make_examples_nshards
        memory = 64.GB
        //ext.args = ""
        ext.args = "--vsc_min_count_snps=2 --vsc_min_fraction_snps=0.12 --vsc_min_count_indels=2 --vsc_min_fraction_indels=0.16" // for adjusting sensitivity
    }
    withLabel:'call_variants' {
        // Settings to use GPU with Slurm
        queue = 'gpu-core'
        cpus = 16
        memory = 120.GB
        maxRetries = 2
        //maxForks = 2 // If we run out of scratch space
        clusterOptions = "--gpus 1 --account ${params.assoc}"
        containerOptions = '--nv --cleanenv'
    }
    withName:'POSTPROCESS_VARIANTS' {
        cpus = 1
        memory = 30.GB
    }
    withName:'GLNEXUS' {
        cpus = 16
        memory = 120.GB
    }
    withLabel:'process_single' {
        cpus = 1
        memory = 7500.MB
    }
    withLabel:'process_low' {
        cpus = 2
        memory = 15.GB
    }
    withLabel:'process_high' {
        cpus = 12
        memory = 90.GB
    }
    withName:'BWA_MEM'{
        ext.args = { "-R \"@RG\\tID:bwa-mem2\\tPL:Illumina\\tLB:lib\\tSM:${meta.id}\"" }
    }
}
