// Settings to run the workflow on Sasquatch

//working directory for temporary/intermediate files produced in the workflow processes
workDir = '/data/hps/assoc/private/mylab/user/mmouse/myproject/temp_raredisease'

params {
  assoc = "mylab"
}

profiles{
    sasquatch {
        process.executor = 'slurm'
        process.queue = 'cpu-core-sponsored'
        process.memory = 7500.MB
        process.time = '72h'
        process.clusterOptions = "--account cpu-${params.assoc}-sponsored"
        docker.enabled = false
        params.enable_conda = false
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/hps/assoc/private/${params.assoc}/container/rare-disease-wf"
    runOptions = '--containall --no-home'
    pullTimeout = '40m'
}
