// Settings to run the workflow on Sasquatch

//working directory for temporary/intermediate files produced in the workflow processes
workDir = '/data/hps/assoc/private/mylab/user/mmouse/myproject/temp_raredisease'

params {
  assoc = "mylab"
}

profiles{
    sasquatch {
        process.executor = 'slurm'
        process.queue = 'cpu-core-sponsored'
        process.clusterOptions = "--account cpu-${params.assoc}-sponsored --time=72:00:00"
        apptainer.enabled = true
        docker.enabled = false
        apptainer.autoMounts = true
        apptainer.cacheDir = "/data/hps/assoc/private/${params.assoc}/container/rare-disease-wf"
        apptainer.runOptions = '--containall --no-home'
    }
}
