profiles {
    test {
        // WES on single trio, subsetted to a tiny fraction of the genome
        params.vcf = "testdata/Ashkenazim_GIAB_small.glnexus.vcf"
        params.chromnames = 'g1k'
        params.sort = false
        params.ped = "testdata/GIAB_pedigree.txt"
        params.trios_present = true
        params.metadata_tab = "testdata/GIAB_demographics.txt"
        params.metadata_columns = "affected,batch,favorite_animal"
        params.do_incidental = true
        params.incidental_samples = "testdata/GIAB_incidental.txt"
        params.export_prefilt = false
        params.sample_bams = "testdata/GIAB_samples_small.csv"
        params.deepvar_model = "WES"
        params.cohort_name = "Ashkenazim_GIAB_small"
        params.make_examples_nshards = 4
        params.test_bams = true
        params.fasta_bams = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
        params.bwa_index = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex"
        params.par_bed = "assets/GRCh37_PAR.bed"
        params.outdir = "results"
        params.fasta_ensembl = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
        params.gff_ensembl = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/Homo_sapiens.GRCh37.87.gff3"
        params.snpEff_dir = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/SnpEff/"
        params.slivar_zip = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/Slivar/gnomad.hg37.zip"
        params.slivar_selfchain = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/Slivar/selfchain-LCR.hg19.bed"
        params.annovar_db = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/annovar/humandb"
        params.annovar_buildver = "hg19"
        params.mvp_tab = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/MVP/MVP_score_hg19.txt"
        params.maf_recessive = "0.001"
        params.maf_dominant = "0.00002"
        params.maf_denovo = "0.001"
        params.comphet_nhomalt = "10"
        params.mvp_thresh = 0.9
        params.cadd_thresh = 7
        params.dann_thresh = 0.999
        params.gerp_thresh = 5.5
        params.umap_seed = 3334444
        params.umap_min_call_rate = 0.95
        params.umap_n_exons = 5000
        params.umap_n_pcs = 50
        params.chrom_convert = 'assets/chrom_conversion.txt'
    }
}
