params {
    // WES on single trio, subsetted to a tiny fraction of the genome
    vcf = "testdata/Ashkenazim_GIAB_small.glnexus.vcf"
    chromnames = 'g1k'
    sort = false
    ped = "testdata/GIAB_pedigree.txt"
    trios_present = true
    metadata_tab = "testdata/GIAB_demographics.txt"
    metadata_columns = "affected,batch,favorite_animal"
    do_incidental = true
    incidental_samples = "testdata/GIAB_incidental.txt"
    export_prefilt = false
    sample_bams = "testdata/GIAB_samples_small.csv"
    deepvar_model = "WES"
    cohort_name = "Ashkenazim_GIAB_small"
    make_examples_nshards = 4
    test_bams = true
    fasta_bams = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    bwa_index = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex"
    par_bed = "assets/GRCh37_PAR.bed"
    glnexus_filter = true
    outdir = "results"
    fasta_ensembl = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    gff_ensembl = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/Genes/Homo_sapiens.GRCh37.87.gff3"
    snpEff_dir = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/SnpEff/"
    slivar_zip = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/Slivar/gnomad.hg37.zip"
    slivar_selfchain = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/Slivar/selfchain-LCR.hg19.bed"
    annovar_db = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/annovar/humandb"
    annovar_buildver = "hg19"
    mvp_tab = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Annotation/MVP/MVP_score_hg19.txt"
    maf_recessive = "0.001"
    maf_dominant = "0.00002"
    maf_denovo = "0.001"
    comphet_nhomalt = "10"
    check_gq = true
    slivar_fn_loose = './assets/slivar-functions-loose.js'
    mvp_thresh = 0.9
    cadd_thresh = 7
    dann_thresh = 0.999
    gerp_thresh = 5.5
    umap_seed = 3334444
    umap_min_call_rate = 0.95
    umap_n_exons = 5000
    umap_n_pcs = 50
    chrom_convert = 'assets/chrom_conversion.txt'
}
