process{
    withName:'LIFTOVER_HG19_TO_HG38'{
       cpus = 1
       memory = "${params.picard_memory_gb}GB"
    }
    withName:DeepVariant {
	    cpus = 72
	    // use stageInMode = copy for slow network drives. otherwise remove.
            stageInMode = "copy"
	    memory = 50.GB
	    scratch = true
	    clusterOptions = '--gres=tmpspace:120G '
    }
    withName:manta {
      cpus = 24
      // use stageInMode = copy for slow network drives. otherwise remove.
      stageInMode = "copy"
      memory = 5.GB
      // use $TMPDIR to execute
      scratch = true
      clusterOptions = '--gres=tmpspace:75G '
    }
    withName:dysgu {
      // dysgu doesn't seem to use more than 1 cpu.
      cpus = 1
      // use stageInMode = copy for slow network drives. otherwise remove.
      stageInMode = "copy"
      memory = 7.GB
      // use $TMPDIR to execute
      scratch = true
      clusterOptions = '--gres=tmpspace:75G '
    }
    withName:paragraph_duphold {
	    cpus = 12
	    memory = '8GB'
    }
    withName:split {
	    cpus = 2
	    memory = '4GB'
    }
    withName:merge_svs {
            maxRetries = 0
	    cpus = 3
	    memory = '3GB'
    }
    withName:generate_jigv_pages {
           maxRetries = 0
	   cpus = 1
	   memory = '4GB'
    }
    withName:slivar_split_by_fam {
           maxRetries = 0
	   cpus = 2
	   memory = '4GB'
    }
    withName:slivar_sum_counts {
           maxRetries = 0
	   cpus = 2
	   memory = '4GB'
    }
    withName:slivar_merge_tsvs {
           maxRetries = 0
	   cpus = 1
	   memory = '2GB'
    }
    withName:slivar_rare_disease {
           maxRetries = 0
	   cpus = 2
	   memory = '8GB'
    }
}
